*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfdede;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-section{
    background-color: #fff;
    width: 331px;
    height: 450px;
    border-radius: 14px;
    margin: 0 auto;
    box-shadow: 0 9px 17px rgb(99 99 99 / 27%);
    padding: 0.5rem;
}

h6{
    font-weight: 600;
    color: #5a81da;
    font-size: 0.7rem;
}

ul{
    margin: 2rem 0;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.info-file {
    width: 70%;
}

.title-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.color-5a81da{
    color: #5a81da;
}

.color-a4bffc{
    color: #a4bffc;
}

.pro{
    background-color: #c9c9c9;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    margin-top: 5px;
}

.par{
    background-image: linear-gradient(to right,#ff8484,rgb(255, 0, 0));
    width: 68%;
    height: 4px;
    border-radius: 10px;
}

.prr{
    display: flex;
    gap: 6px;
}

p{
    font-size: 12px;
    font-weight: 600;
    color: #000000bd;
}

.parr{
    background-image: linear-gradient(to right,#ff8484,rgb(255, 0, 0));
    width: 28%;
    height: 4px;
    border-radius: 10px;
}

.para{
    background-image: linear-gradient(to right,#79ff8b,rgb(38, 230, 13));
    width: 100%;
    height: 4px;
    border-radius: 10px;
}

label {
    border: 4px dashed #d9d9d9;
    border-radius: 4px;
    padding: 1rem 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c8c;
    margin-top: -10px;
}